@import url('https://fonts.googleapis.com/css?family=Roboto: 300,400,500,700,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: rgb(0, 43, 59);
}
section .text{
    position: relative;
    text-align: center;
    color: rgb(112, 226, 188);
    
    font-size: 80px;
    -webkit-box-reflect: below -0.46em linear-gradient(transparent, #0004);
    
}
section .text span{
    position: relative;
    display: inline-block;
}